* { 
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Poppins';
    font-style: normal; 

    background: #1E252B;
    min-width: auto;
}
header{
    margin-top: 28px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerLogo{
    display: flex;
    align-items: center;
    margin-left: 157px;
}
.headerLogo h2{
    margin-left: 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.9);
}
.headerNav{
    display: flex;
    margin-left: 257px;
    justify-content: center;
}
.headerNav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.headerNav a:not(:first-child){
    margin-left: 42px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account a:not(:last-child){
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    margin-left: 193px;
}
header a:hover, .headerMenu p:hover{
    color: white;
}
.account a:hover{
    color: white;
}
.account .SignUpButton{
    background: #FF6E30;
    padding: 12px 28px 12px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9D9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 41px;
}
.account .SignUpButton:hover{
    background: #EA8C4F;
}
.headerMenu{
    display: flex;
    align-items: center;
    margin-left: 42px;
    cursor: pointer;
}
.headerMenu p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.headerMenu img{
    width: 18px;
    height: 18px;
    margin-left: 4px;
}

.headerMenu:hover .menuImageHover{
    background: url(images/chevron-down\ _active.png);
}

.dropdown {
    float: right;
    position: relative;
    display: flex;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color:#1E252B;
    overflow: auto;
    z-index: 1;
    left: 41px;
    top: 20px;
}
.dropdownContentItem{
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
}
.dropdownContentItem a{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    display: flex;
    

}
  

  
.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.dropdownContentItem:hover{
    background:#283036;
}






.mainPreview{
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    justify-content: center;
}
.previewRightSide{
    margin-top: 29px;
}
.previewLeftSide{
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.mainPreview h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);

}
.dotColor{
    color: #FF6E30;
}
.mainPreview p{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 18px;  
    line-height: 30px;
}
.mainPreview form{
    margin-top: 60px;

}
.searchForm{
    display: flex;
    background: #283036;
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    align-items: center;
}
.search{
    background: #283036;
    padding-left: 13px;
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
}
.searchForm input{
    border: 0;
    outline: none;
}
.submit{
    cursor: pointer;
    background: #FF6E30;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-left: 111px;
}
.submit:hover{
    background: #587298;
}
.searchForm img{
    padding-left: 18.06px;
}
.previewLogo{
    display: flex;
    margin:0 -8px;
    justify-content: baseline;
    align-items: center;
    margin-top: 110px;
    
}
.previewLogo img{
    margin:0 8px ;
    height: 58px;
    width: 58px;
}
.previewLogo img:hover{
    background: #587298;  /* забавно получилось, отсавлю */
}


.mainTools{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainTools h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}
.mainTools h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.55);
}
.toolsGallery{
    display: flex;
    flex-direction: column;
}
.toolsGallaryLineOne{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.toolsGallaryLineTwo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.toolCard{
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 298px;
    justify-content: center;
    align-items: center;
}
.toolCard:not(:last-child){
    margin-right: 24px;
}
.toolCardContent{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.toolCard:hover{
    background:url(images/Rectangle\ 5.png);
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
/*     margin-left: 1px; */
}

.toolCard:hover .toolVisitButton{
    background: #FF6E30;
    color: white;
}
.toolCard .toolVisitButton:hover{
    background: #587298;
}

.toolCardHeader{
    display: flex;
    justify-content: left;
    align-items: center;
}
.toolCardTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
}
.toolCardTitle h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.78);
}
.toolCardTitle span{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
}
.toolCardBody{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    text-align: left;
    margin-top: 30px;
}

.toolCardFooter{
    display: flex;
    margin-top: 30px;
}
.toolCardFooter .folder{
    margin-left: 12px;
}
.toolVisitButton{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    background: #1E252B;
    margin-left: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
}
.toolVisitButton:hover{
    background: #587298;
}
.toolCardFooter .like{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background:url(images/inactiveLike.png) ;
    

}
.toolCardFooter .like:hover{
    background:url(images/activeLike.png)
}



.loadMoreButton{
    border-width:1px;
    border-color: rgb(190,190,190);
    border-style: solid;
    border-radius: 8px;
    width: 184px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color:#FF6E30;
    margin-top: 100px;
}
.loadMoreButton:hover{
    background:#283036;
}


.brandsContent{
    width: 1224px;
    height: 253px;
    margin-top: 200px;
    background: url(images/Rectangle\ 308.png);
}
.mainBrands h2{
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
}
.brand{
    margin-left: 82px;
    padding-bottom: 55px; 
}

.mainBrands{
    display: flex;
    justify-content: center;
}

.brand a:not(:first-child){
    margin-left: 107px;
}

.newcomerTools{
    display: flex;
    justify-content: center;
}
.newcomerToolsLeftSide{
    margin-top: 220px;
    width: 427px;
    height: 300px;
    margin-left: 108px;

}
.newcomerToolsLeftSide h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}
.newcomerToolsLeftSide p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;

}
.exploreMoreButton{
    background: #FF6E30;
    width: 198px;
    height: 58px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exploreMoreButton a{
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.exploreMoreButton:hover{
    background: #EA8C4F;
}

.newcomerToolsRigthSide{
    margin-left: 197px;
    display: flex;
    flex-direction: column;

} 
.newcomerFirstLine{
    display: flex;
    flex-direction: row;
    margin-top: 220px;
}
.newcomerSecondLine{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 284px;
    margin-right: 25px;
}

/* .card:hover{
    background-color: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(25px);
    border-radius: 15px;
} */
.card:hover{
    background:url(images/hover.png)
}

.newcomerToolsRigthSide .card:hover{
   margin-top: -10px;
   margin-bottom: 10px;
}
.card:hover .visitButton{
    background: #FF6E30;
}

.cardHeader{
    width: 245px;
    display: flex;
    justify-content: left;
    align-items:center;
    margin-bottom: 30px;
}
.cardHeader .headerTitle{
    margin-left: 30px;
}
.cardHeader span{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
}
.cardHeader h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.78);
}
.cardBody{
    width: 245px;
    margin-bottom: 30px;
}
.cardBody p{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}
.cardFooter{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.cardFooter .footerLike{
    width: 42px;
    height: 42px;
    background:url(images/inactiveLike.png) ;
}
.cardFooter .footerLike:hover{
    background: url(images/activeLike.png);
}
.cardFooter .footerFolder{
    width: 42px;
    height: 42px;
    background: url(images/Group\ 1375.png);
    margin-left: 12px;
}
.cardFooter img:not(:first-child){
    margin-left: 12px;
}
.visitButton{
    margin-left: 43px;
    width: 106px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.visitButton a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
}

.mainTestimonial{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.testimonialSlide{
    display: flex;
    margin-left: 295px;
    text-align: left;   
}

.testimonialSlide .slideText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;   
    letter-spacing: 0.015em;  
    color: rgba(255, 255, 255, 0.78);
    margin-left: -84px;   
    margin-top: 128px;
    text-align:left;
    margin-right: 60px;
}


.mainContributor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 263px;

}
.contributionHeader{
    width: 553px;
}
.mainContributor h1{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
}
.mainContributor p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    margin-top: 25px;
}
.contributerForm{
    display: flex;
    background: #283036;
    width: 530px;
    height: 64px;
    border-radius: 15px;
    align-items: center;
    margin-top: 100px;
}
.contributerForm .search{
    background: #283036;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.38);
}
.contributerForm input{
    border: 0;
    outline: none;
}
.contributerForm .submit{
    background: #FF6E30;
    padding: 12px 35px 12px 35px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 180px;
    width: 130.43px;
    height: 48px;
    
}
.contributerForm .submit:hover{
    background: #587298;
}


footer{
    font-family: 'Poppins';
}
.bottomMenu{
    display: flex;
    justify-content: center;
    /* margin-top: 70px; */
    display: flex;
    margin-bottom: 98px;
}
.bottomMenu:not(:first-child){
    margin-top: 70px;
}
.copyright h3{
    margin-top: 25px;
}
.copyright p{
    margin-top: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.55);
}
.contactUs{
    display: flex;
    flex-direction: column;
    margin-left: 156px;
}
.categories{
    display: flex;
    flex-direction: column;
    margin-left: 115px;
}
.companyInfo{
    display: flex;
    flex-direction: column;
    margin-left: 115px;

}
.line{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    margin-top: 240px;
}
.bottomMenu h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.bottomMenu a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    margin-top: 10px;
}
.bottomMenu a:hover{
    color: #FF6E30;
}
.footerLogo{
    display: flex;
    align-items: center;
}
.footerLogo h2{
    margin-left: 12px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.9);
}

.flexHeader{
    display: flex;
    align-items: center;
}





@media screen and (max-width: 1366px){

    header{
    margin-top: 28px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
}
.headerLogo{
    display: flex;
    align-items: center;
    margin-left: 157px;
}

.headerNav{
    display: flex;
    margin-left: 237px;
    justify-content: center;
}

.headerNav a:not(:first-child){
    margin-left: 22px;
}

.account a:not(:last-child){
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    margin-left: 173px;
}

.account .SignUpButton{
    background: #FF6E30;
    padding: 12px 28px 12px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9D9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 21px;
}



}